@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

.str-chat {
  --str-chat__primary-color: theme(colors.blue.500);
  --str-chat__active-primary-color: theme(colors.blue.600);
  --str-chat__disabled-color: theme(colors.gray.200);
  --str-chat__cta-button-border-radius: theme(borderRadius.DEFAULT);
}

.str-chat * {
  font-family: inherit !important;
}

.str-chat__channel-search.str-chat__channel-search--with-results.str-chat__channel-search--inline {
  height: fit-content;
}
@layer base {
  body {
    @apply overflow-x-hidden leading-relaxed
  }
  .page {
    @apply w-full overflow-x-hidden h-screen
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.8];
  }
}
